node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
scripts
.eslintignore
.eslintrc.json
.env
aws_upload
server.*
test.*
data
confidential
.env
services
client_secret*.json
dump.rdb
.vscode
.DS_Store
.cron_env
.listner_env
test.js
tmp
*.key
*.cert
keys/
*.pem
listner_key
scripts